.header{
	height: 80px;
	width: 100%;
	background-color:#425a98;
}
.fblogo{
	float: left;
	color: white;
	font-size: 40px;
	padding-left: 120px;
	margin-top: 20px;
}
.EmailorPhone{
	color: white;
	float: left;
    padding-left: 40%;
    margin-top: 15px;
    font-size: 15px;
}
.text{
	float: left;
	margin-top: 33px;
	margin-left: -100px;
}
.Pswrd{
	float: left;
	color: white;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;

}
.password{
	float: left;
	margin-top: 33px;
	margin-left: -62px;
}
.Forgetaccount{
	float: left;
	color: white;

	font-style: italic;
	margin-top: 55px;
	margin-left: -13%;
}
.Forgetaccount:hover{
    color: #FF0000;
}
.button{
	float: left;
	margin-top: 33px;
	margin-left: 5px;
	background-color:#425a98;
	color:white ;

}
.main{
	background-color: #e6e9f2;
	
}
.fbpare{
	width: 50%;
	float: left;
	margin-left: 20px;
}