body{
	background-color: #e6e9f2;
}
.header{
	height: 80px;
	width: 100%;
	background-color:#425a98;
}
.fblogo{
	float: left;
	color: white;
	font-size: 40px;
	padding-left: 120px;
	margin-top: 20px;
}
.EmailorPhone{
	color: white;
	float: left;
    padding-left: 40%;
    margin-top: 15px;
    font-size: 15px;
}
.text{
	float: left;
	margin-top: 33px;
	margin-left: -100px;
}
.Pswrd{
	float: left;
	color: white;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;

}
.password{
	float: left;
	margin-top: 33px;
	margin-left: -62px;
}
.Forgetaccount{
	float: left;
	color: white;

	font-style: italic;
	margin-top: 55px;
	margin-left: -13%;
}
.Forgetaccount:hover{
    color: #FF0000;
}
.button{
	float: left;
	margin-top: 33px;
	margin-left: 5px;
	background-color:#425a98;
	color:white ;

}
.main{
	background-color: #e6e9f2;
	
}
.textfb{
	width: 69%;
	float: left;
}
.fbpara{
	width: 50%;
	float: left;
	margin-left: 20px;
	color:#425a98;
}
.ConnectWord{
	width: 80%;
	height: 50%;
	margin-left: 50px;
}
.account{
	width: 30%;
	float: left;
}
.textCreateAccount{
	font-weight: bold;
}
.textItsFree{
	font-size: 20px;
}
.FirstName{
	padding: 3px;
}
.Surname{
	margin-left: 10px;
	padding: 3px;
}
.textMobileNumber{
	margin-top: 10px;
	padding: 3px;
	width: 92%;
}
.textReMobileNumber{
    margin-top: 10px;
	padding: 3px;
	width: 92%;
}
.NewPassword{
	 margin-top: 10px;
	padding: 3px;
	width: 92%;
}
.Birthday{
	margin-top: 15px;
	margin-bottom: 15px;
}
.SelectDay{
	float: left;
	width: 50px;
	padding: 2px;
	font-size: 12px;
}
.SelectMonth{
	float: left;
	width: 110px;
	padding: 2px;
	font-size: 12px;
}
.SelectYear{
	float: left;
	width: ;
	padding: 2px;
	font-size: 12px;
}
.Why{
	float: left;
	font-size: 10px;
	padding-left: 10px;
	margin-top: 0px;
}
.Why:hover{
	color: red;
}
.male{
	float: left;
}
.policy{
	font-size: 15px;

}
.terms{
	text-decoration: none;
}
.terms:hover{
	color: red;
}
.CearteAccount{
	background-color: green;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	color: white;
}
